<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-watchconnectivity"
        version="1.0.0">
    <name>WatchConnectivity</name>
    <description>Cordova plugin for communication between an iOS app and an Apple Watch using WatchConnectivity framework</description>
    <license>MIT</license>
    <keywords>cordova, watchconnectivity, apple watch</keywords>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="WatchConnectivity">
                <param name="ios-package" value="WatchConnectivity" />
            </feature>
        </config-file>
        <source-file src="src/ios/WatchConnectivity.swift" />
        <source-file src="src/ios/WatchMessageHandler.swift" />
        <framework src="WatchConnectivity.framework" weak="true" />
    </platform>
</plugin>
